---
layout: default
title: Hurom Slow Juicer - About Us
heading: About Us
---

<div class="content">
  <p>
		Hurom is the global leader in slow juicers, having been involved in the manufacture of juicers since 1974. It currently holds 
		patent applications and distributes its products into more than 40 countries around the world.
	</p>
	
	<img src="/images/design-award.png" class="right"/>
	<p>
		Hurom is a multi-award winner having just recently won a Design Award at the 2011 Australian International Design Awards for 
		the HU-300.  Hurom has also won Gold Awards at the 2010 Swiss Geneva Salon International Des Invention and at the 2010 Pittsburgh 
		International Invention Fair (INPEX).
	</p>
	<p>
		Hurom also manufactures slow juicers under license for companies such as Oscar and JuicePresso.
	</p>
	<img src="/images/awards.png" />

  {% include slogan.html %}
</div>

{% include footer-images.html %}	