---
layout: default
title: Hurom Slow Juicer
heading: The breakthrough Hurom Cold Press Juicer
---

<div class="content">
  <h3>A juicer so unique it's in a class of its own.</h3><br/>
  
  <img src="/images/5-year-guarantee.jpg" class="left" />
  <p class="dotpoints">	
       <span class="point">Healthier</span> - yields 3-5 times more living nutrients &amp; enzymes than conventional  juicers<br/>
       <span class="point">Tastier</span> - low oxidation + low heat = premium quality juice<br/>
       <span class="point">More Efficient</span> - extracts up to 50% more juice than conventional machines<br/>
       <span class="point">Versatile</span> - juice fruits, vegetables &amp; wheatgrass &amp; make nut milks, too!<br/>
       <span class="point">Faster</span> &amp; Easier - a joy to use and can be cleaned in seconds<br/>			
  </p>

  {% include slogan.html %}
</div>

{% include footer-images.html %}	
