---
layout: default
title: Hurom Slow Juicer - Specifications
heading: Specifications
---
<div id="faq-questions" class="content">
  <table class="specs">
  	<tr>
  		<th style="border-left: 0; border-top: 0"></th>
  		<th style="color: #7FA51A; text-align: center;">HU-300 MKII</th>
  		<th style="color: #7FA51A; text-align: center;">HU-400</th>
  		<th style="color: #7FA51A; text-align: center;">HU-500</th>
  	</tr>
  	<tr>
  		<th>Spout Cap </th>
  		<td>No</td>
  		<td>No</td>
  		<td>Yes</td>
  	</tr>
  	<tr>
  		<th>BPA Free </th>
  		<td>No</td>
  		<td>No</td>
  		<td>Yes</td>
  	</tr>
  	<tr>
  		<th>Self Cleaning </th>
  		<td>Yes</td>
  		<td>Yes</td>
  		<td>Yes</td>
  	</tr>
  	<tr>
  		<th>Bowl Locking Mechanism </th>
  		<td>Snap Tight</td>
  		<td>Magnetic</td>
  		<td>Magnetic</td>
  	</tr>
  	<tr>
  		<th>Strainer </th>
  		<td>1 Ultem Strainer</td>
  		<td>1 Ultem Strainer</td>
  		<td>1 Ultem Strainer</td>
  	</tr>
  	<tr>
  		<th>Accessories </th>
  		<td>2 Jugs<br/>1 Cleaning Brush</td>
  		<td>2 Jugs<br/>1 Cleaning Brush</td>
  		<td>2 Jugs<br/>1 Cleaning Brush</td>
  	</tr>
  	<tr>
  		<th>Voltage </th>
  		<td>220-240 volts</td>
  		<td>220-240 volts</td>
  		<td>220-240 volts</td>
  	</tr>
  	<tr>
  		<th>Power Consumption </th>
  		<td>150W</td>
  		<td>150W</td>
  		<td>150W</td>
  	</tr>
  	<tr>
  		<th>Motor Speed </th>
  		<td>80 rpm</td>
  		<td>80 rpm</td>
  		<td>80 rpm</td>
  	</tr>
  	<tr>
  		<th>Cord Length </th>
  		<td>1.4 metres</td>
  		<td>1.4 metres</td>
  		<td>1.4 metres</td>
  	</tr>
  	<tr>
  		<th>Weight </th>
  		<td>6.2 kg</td>
  		<td>6.2 kg</td>
  		<td>6.1 kg</td>
  	</tr>
  	<tr>
  		<th>Dimensions (LxWxH mm) </th>
  		<td>155 x 212 x 400</td>
  		<td>155 x 212 x 400</td>
  		<td>160 x 218 x 405</td>
  	</tr>
  	<tr>
  		<th>Chute Size </th>
  		<td>5cm x 3.5cm</td>
  		<td>5cm x 3.5cm</td>
  		<td>5cm x 3.5cm</td>
  	</tr>
  	<tr>
  		<th>Rated Usage </th>
  		<td>Up to 30 minutes continuously</td>
  		<td>Up to 30 minutes continuously</td>
  		<td>Up to 30 minutes continuously</td>
  	</tr>
  	<tr>
  		<th>Warranty </th>
  		<td>5 years on motor<br/>1 year on parts</td>
  		<td>5 years on motor<br/>1 year on parts</td>
  		<td>10 years on motor<br/>2 years on parts</td>
  	</tr>
  </table>
  
  {% include slogan.html %}
</div>

{% include footer-images-tech.html %}

