---
layout: default
title: Hurom Slow Juicer - Versatility
heading: The Hurom Slow Juicer does so much more,<br/>so much more easily&hellip;
---

<div class="content">
  <h3>Wheatgrass</h3>
	<p>Get the most from juicy, nutrient-packed wheatgrass &ndash; easily and fast!</p>

	<h3>Fruits</h3>
	<p>From soft fleshy strawberries and blueberries to citrus and harder fruits like apples and pears, the Hurom makes creating the best, tastiest fruit juices child's play. Kids love it &ndash; and when they make their own juices, getting them to eat healthy things is suddenly so much easier!</p>

	<h3>Vegetables</h3>
	<p>Enjoy the incredible taste of cold pressed vegetable juices with maximum living nutrients and enzymes. Juicing leafy greens and root vegetables is now a hassle-free breeze!</p>

	<h3>Nut Milks</h3>
	<p>Make delicious raw nut milks from almonds, pistachios, brazils and many more. Simply soak nuts overnight, rinse and place in Hurom along with water and your favourite sweetener such as dates, vanilla pods, cacao and cinnamon powder. No need to blend or strain - the Hurom does it all.</p> 

  {% include slogan.html %}
</div>

{% include footer-images.html %}	