<div id="nav">
	<ul>
		<li><a href="/index.html">Home</a></li>
		<li>
			<a href="/content/juicer.html">Juicer</a>
			<ul>
				<li><a href="/content/superjuice.html">SuperJuice</a></li>
				<li><a href="/content/whyhurom.html">Why&nbsp;Hurom?</a></li>
				<li><a href="/content/versatility.html">Versatility</a></li>
				<li><a href="/content/specifications.html">Specifications</a></li>
			</ul>
		</li>
		<li>
			<a href="/content/recipes.html">Recipes</a>
			<ul>
				<li><a href="/content/recipes/fruitjuice.html">Fruit Juice</a></li>
				<li><a href="/content/recipes/vegetablejuice.html">Vegetable Juice</a></li>
				<li><a href="/content/recipes/nutjuice.html">Nut Juice</a></li>
				<li><a href="/content/recipes/icecream.html">Ice Cream</a></li>
				<!--<li><a href="/content/recipes/jam.html">Jam</a></li> -->
			</ul>
		</li>
		<li><a href="/content/warranty.html">Warranty</a></li>
		<li><a href="/content/faq.html">FAQs</a></li>
		<li><a href="/content/aboutus.html">About Us</a></li>
		<li><a href="/content/contactus.html">Contact Us</a></li>
		<li><a href="/content/shop.html">Shop</a></li>
	</ul>
</div>