<div id='shop-faq'>
  <h3>Shop FAQ</h3>
  <dl>
  	<dt>Where do you ship from?</dt>
  	<dd>All of our juicers are shipped from Brisbane.</dd>

  	<dt>How quickly will my juicer ship?</dt>
  	<dd>We ship each day, Monday to Friday, hence depending on the time your order was placed, it should take no more than 24 hours to ship.</dd>

  	<dt>Which freight company do you use?</dt>
  	<dd>We ship via Australia Post eParcel which includes tracking and insurance.</dd>

  	<dt>How long will it take for my juicer to arrive?</dt>
  	<dd>For metro Brisbane, Sydney and Melbourne, your juicer will arrive in 2 to 3 days.  For other regions, please allow 3 to 7 days for delivery.</dd>

  	<dt>Will I receive the Australian version or an overseas version?</dt>
  	<dd>You will receive the Australian version specifically made for Australia with the correct Australian plug and Australian Electrical certifications.</dd>

  	<dt>What is the Warranty?</dt>
  	<dd>The motor on all Hurom Slow Juicers is covered by a 5 year manufacturer's warranty.  The remaining parts are covered by a 12 month warranty.</dd>

  	<dt>How do I contact Hurom Australia?</dt>
  	<dd>If you have any further questions, please send an email to <a href="mailto:info@hurom.com.au">info@hurom.com.au</a>.  We will generally respond to all questions the day they are received.</dd>
  </dl>
</div>