<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="shortcut icon" href="/images/hurom.ico" />
	
	<meta charset=utf-8 />
	<meta name="description" content="Hurom Australia - Exclusive distributors of Hurom Slow Juicers to Australia" />
	<meta name="keywords" content="Hurom,Hurom Juicer,Slow Juicer,Hurom Slow Juicer,Oscar,Juicepresso,Juicebuddy,Avancer,Coway,HU-300,HU-400,Juice Machine,Juicing Recipes,Juicing,Juice Extractor,Juicer,Electric Juicer,Cold Press Juicer,cancer,wellbeing,vitamins,minerals,wheatgrass" />

	<script type="text/javascript" src="/includes/hover-fix.js"></script>
</head>

<body>
  <div id="page">
  
  	<div id="header">
    	{% include banner.html %}
    	{% include nav.html %}
    </div>
  
  	<div id="content">
  		{% include facebook.html %}
		
  		<h1>{{page.heading}}</h1>
		
  		<div class="text-block left-block">
  		  {{content}}
  		</div>
		
  		{% include footer-images.html %}
  	</div>
	
  </div>
</body>
</html>